<h1>To-Do List</h1>
<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
<ol>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.body, task %>
      <%= link_to "Edit", edit_task_path(task) %>
      <%= link_to "Delete", task_path(task),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ol>

<%= link_to "Add New Task", new_task_path %>